<footer>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iusto distinctio dicta temporibus asperiores ab neque, a harum voluptatum voluptas odit officia quisquam nemo minima numquam officiis libero possimus. Sit?</h1>
</footer>